<!DOCTYPE html>
<html ng-app="app" ng-controller="SecretariaCtrl">


</html>


<div>
  <h1>Secretaria</h1>
  <p>{{title}}</p>

  <app-dashboard></app-dashboard>
<div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Gerar Boletim</label>
      <div id="alunoid" ng-init="getAlunoData()">
        <mat-form-field>
          <mat-label id="labelEscolha">Selecione o Aluno</mat-label>
          <select id="select" ng-model="alunoId" value="alunoId" matNativeControl required>
            <option id="option" ng-repeat="aluno in alunoList" label={{aluno.nome}} value={{aluno.id}}>
            </option>
          </select><span class="required">*</span>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="getBoletimPDFData()">Gerar PDF</button>
    <button type="submit" class="btn btn-primary">Visualizar</button>
  </form>
</div>
<div>
  <form>
    <div class="form-group">
      <label for="nomeAluno">Cadastrar Aluno</label>
      <div id="nome">
    <div class="form-group">
      <label for="nomeAluno">Nome</label>
      <input type="text" class="form-control" ng-model="nomeAluno" >

    </div>
    <mat-form-field>
      <div id="turmaId" ng-init="getTurmaData()">
      <mat-label id="labelEscolha">Selecione turma</mat-label>
      <select id="select" ng-model="turmaId" value="turmaId" matNativeControl required>
        <option id="option" ng-repeat="turma in turmaList" label={{turma.sigla}} value={{turma.id}}>
        </option>
      </select><span class="required">*</span>
    </mat-form-field>
      </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click = "postAluno(nomeAluno, turmaId)">Cadastrar</button>
</div>


